{% extends 'musicb/base.html' %}
{% block title %}About {{object.title}}{% endblock %}
{% block content %}
    <h2>Album</h2>
    <h3>{{object.title}}</h3>
    <ul>
        <li>Artist - <a class='no_linkdecoration' href="{% url 'musicblog:artistview_detail' object.artist.slug %}">{{object.artist}}</a></li>
        <li>On sale - {{object.on_sale|date:"Y-m-d"}}</li>
        <li>Title track - {% if title_tracks %}
            {% for t in title_tracks %}<a class='no_linkdecoration' href="{% url 'musicblog:songview_detail' t.slug %}">{{t.title}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            {% else %}Unknown
            {% endif %}
        </li>
    </ul>
    <div id='tracklist'>
        <h4>Track list</h4>
        <ul>
            {% for track in object.song_set.all %}
                <li><a class='no_linkdecoration' href="{% url 'musicblog:songview_detail' track.slug %}">{{track.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}