{% extends 'musicb/base.html' %}
{% block title %}Album List{% endblock %}
{% block content %}
    {% include 'musicb/musicblog_base.html' %}
    <h3>Album List</h3>
    {% if object_list %}
        <ul>
            {% for album in object_list %}
                <li><a class='no_linkdecoration' href="{% url 'musicblog:albumview_detail' album.slug %}">{{album.title}} - {{album.artist.name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        There is no album.
    {% endif %}
{% endblock %}