{% extends 'musicb/base.html' %}
{% load static %}
{% block title %}About {{object.name}}{% endblock %}
{% block content %}
    {% include 'musicb/musicblog_base.html' %}
    <h2>Artist</h2>
    <h3>{{object.name}}</h3>
    <img src="{% static 'musicb/img/'|add:object.name|add:'_main.jpg' %}" alt='{{object.name}} image does not exist yet.' width='500px' height='350px'>
    <ul>
        <li>Company - {% if object.company %}{{object.company}}{% else %}None{% endif %}</li>
        <li>Debut year - {% if object.debut %}{{object.debut}}{% else %}Unknown{% endif %}</li>
        <li>
            Member<br>
            <ul>
                {% for member in object.member_set.all %}
                    <li><a class='no_linkdecoration' href="{% url 'musicblog:memberview_detail' member.slug %}">{{member.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            Albums<br>
            <ul>
                {% for album in object.album_set.all %}
                    <li><a class='no_linkdecoration' href="{% url 'musicblog:albumview_detail' album.slug %}">{{album.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            Tracks<br>
            <ul>
                {% for track in object.track_set.all %}
                    <li><a class='no_linkdecoration' href="{% url 'musicblog:trackview_detail' track.slug %}">{{track.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {{object.artist_info|linebreaks}}
{% endblock %}