<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <style>
            a.no_linkdecoration {
                text-decoration:none;
                color:black;
            }
            a:hover {
                color:blue;
            }
            {% block extra-style %}{% endblock extra-style %}
        </style>
    </head>
    <body>
        <h1><a id='home' class='no_linkdecoration' href="{% url 'musicblog:index' %}">Music Blog</a></h1>
        <h3>Search</h3>
        <form action="{% url 'musicblog:search' %}" method="POST">
            {% csrf_token %}
            <label for="keyword">Search for:</label>
            <!--
            <select id="searching" name='sfor'>
                <option value="artist">Artist</option>
                <option value="member">Member</option>
                <option value="album">Album</option>
                <option value="song">Song</option>
            </select>
            -->
            <input type="text" id="keyword" name="kword">
            <input type="submit" value="Search">
        </form>
        {% block content %}{% endblock content %}
    </body>
</html>