{% extends 'musicb/base.html' %}
{% block title %}New info{% endblock %}
{% block content %}
    {% include 'musicb/musicblog_base.html' %}
    <h3>Add new information</h3>
    <div>
        <a class="no_linkdecoration" href="{% url 'musicblog:new_artist' %}">Artist</a>&nbsp;&nbsp;&nbsp;
        <a class="no_linkdecoration" href="{% url 'musicblog:new_member' %}">Member</a>&nbsp;&nbsp;&nbsp;
        <a class="no_linkdecoration" href="{% url 'musicblog:new_album' %}">Album</a>&nbsp;&nbsp;&nbsp;
        <a class="no_linkdecoration" href="{% url 'musicblog:new_track' %}">Track</a>
    </div>
{% endblock %}