{% extends 'musicb/base.html' %}
{% block title %}About {{object.title}}{% endblock %}
{% block content %}
    {% include 'musicb/musicblog_base.html' %}
    <h2>Song</h2>
    <h3>{{object.title}}</h3>
    <ul>
        <li>Artist - {% if object.artist %}<a class='no_linkdecoration' href="{% url 'musicblog:artistview_detail' object.artist.slug %}">{{object.artist}}</a>{% else %}Unknown{% endif %}</li>
        <li>Album - {% if object.album %}<a class='no_linkdecoration' href="{% url 'musicblog:albumview_detail' object.album.slug %}">{{object.album}}</a>{% else %}Unknown{% endif %}</li>
    </ul>
    {% if object.youtube_id %}
        <iframe width="640px" height="360px" src="https://www.youtube.com/embed/{{object.youtube_id}}" allowfullscreen></iframe>
    {% endif %}
{% endblock %}